<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="background-color: indianred">
    <div>{{oneUser.id}}</div>
    <div>{{oneUser.firstName}}</div>
    <div>{{oneUser.lastName}}</div>
    <div>{{oneUser.email}}</div>
    <div>{{oneUser.age}}</div>
    <div>{{oneUser.city}}</div>
    <form action="/users/{{oneUser.id}}" method="post">
        <button>Delete this User</button>
    </form>
</div>

</body>
</html>